@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 400;
	src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'), url(https://fonts.gstatic.com/s/chakrapetch/v1/cIf6MapbsEk7TDLdtEz1BwkWn6pg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 400;
	src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'), url(https://fonts.gstatic.com/s/chakrapetch/v1/cIf6MapbsEk7TDLdtEz1BwkWkapgeL4.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
$primary-color: #333;
$alignment: center;
$main-color: #000080;


body {
	font-family: 'Chakra Petch', sans-serif;
	color: $primary-color;
	text-align: $alignment;
	box-sizing: border-box;
	margin: 0;

}

.main-menu{
	background-color: $main-color;
	position: fixed;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 100;
	height: auto;
	max-height: 110px;
}

%menu-element {
	font-size: 30px;
}

.store-name{
	display: block;
	float: left;
	max-height: 120px;
	/*display: inline-block;
	vertical-align: center;
	max-width: 350px;
	margin-bottom: 10px;
	overflow: hidden;*/
}

.store-title{
	font-family: 'Chakra Petch', sans-serif;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 5px;
	font-size: 54px;
	/*
	color: mintcream;
	text-decoration: none;
	margin-top: 0px;*/
}

.unilogo{
	display: inline-block;
}

.uni-img{
	width: auto;
	max-width: 100px;
}

.menu-list{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	//justify-content: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	li{
		@extend %menu-element;
		list-style: none;
		margin: 0;
		padding: 0 10px;
		a{
			text-decoration: none;
			color: mintcream;
			font-family: 'Chakra Petch', sans-serif;
		}
		a:hover{
			//color: #b3ffd7;
			color: #cce6ff;
		}
		}
	}


.categories-list{
	width: 100%;
	text-align: center;
		a{
			font-size: 40px;
			color: $main-color;
		}
		a:hover{
			color: #005cb3;
			text-decoration: none;
		}
}


.product-title, .product-price, .product-special-price, .old-price{
	font-family: 'Chakra Petch', sans-serif;
  display: block;
}

.product-price, .product-special-price, .old-price{
	font-weight: bold;
	font-size: 25px;
}

.product-special-price{
	color: #b21f2d;
	font-size: 30px;
}

.old-price{
	text-decoration: line-through;
}

.product-image{

	padding: 5px;
	max-height: 180px;
	width: auto;
	object-fit: contain;

}


.sect{
	display: none;
}

.sect.active{
	display: block;
	padding-top:110px;
}


.unipic{
	max-width: 500px;
	display: inline-block;
}

.info-paragraph{
  font-family: 'Chakra Petch', sans-serif;
	font-size: 30px;
	color: $main-color;
	padding-top:200px;
	padding-left:15%;
	display: inline-block;
}

.addToCartBtn, .view-addToCartBtn{
  position: absolute;
  width:100%;
  left:0;
  bottom: 5px;
  overflow: hidden;
  color:mintcream;
  background-color: $main-color;
  box-shadow: 2px 5px 10px #000033;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  border: none;
}

.addToCartBtn:hover{
  background-color: #0000cc;
}


.card {
	padding: 2px;
	margin-bottom: 4px;
  position:relative;
  height: 380px;
  text-align: center;
}

.cart-products .card{
	height: 480px;
}

.view-product{
  cursor: pointer;
  min-height: 300px;
  //margin-bottom: 10px;
	margin: 0;
	text-align: center;
}

.view-product-container{
	width: 100%;
	margin: 0;
}

.product-description{
	display: none;
}

.product-view .product-description{
	display: inline-block;

}
.product-view .card{
	width:100%;
	margin: 0;
}

.text-view-product{
	position: relative;
	min-height: 400px;
	text-align: center;
}

.view-view-product, .text-view-product{
	display: block;
	margin:0;
	text-align: center;
}
.view-addToCartBtn{
	position: absolute;
	width: 100%;
}

.view-product-description{
	font-size: 20px;
	max-width: 500px;
	display: block;
}

.view-img{
	//vertical-align: center;
	max-width: 100%;
	float: top;
}

.counter{
  display: inline;
	min-height: 20px;
	font-size: 18px;
}

.plus-button, .minus-button{
  min-height: 30px;
  //max-width: 20%;
  display: inline;
  color:mintcream;
  border: none;
  background-color: $main-color;
  box-shadow: 2px 5px 10px #000033;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.empty-cart{
	display: none;
}

.empty-cart.active{
	display:block;
	width: 100%;
	margin-top: 150px;
	text-align: center;
}

.order-button{
	display: none;
}

.order-button.active{
	display: block;
	width: 100%;
	text-align: center;
}

.cart-view-product{
	min-height: 350px;
	object-fit: contain;
}


#modal-form{
	width: 80%;
}


.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;

}



.close {
	color: #aaaaaa;
	display: block;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.submit-order, .order-button{
	color:mintcream;
	border: none;
	background-color: $main-color;
	box-shadow: 2px 5px 10px #000033;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
}


@media screen and (max-width:870px){
	.store-title{
		font-size: 30px;
	}
	%menu-element {
		font-size: 18px;
	}
	.info-paragraph{
		display: block;
		width: 100%;
		padding: 0;
		text-align: center;

	}
}


@media screen and (max-width:584px){
	.store-title{
		font-size: 20px;
	}
	.uni-img{
		max-width: 60px;
	}
	%menu-element {
		font-size: 15px;
	}
	.products{
		padding-top:70px;
	}
}





